
#cover-page{
    height:100vh;
}
#bio-container{
    width:100vw;
    margin:auto;
    background-color: yellow;
}

#to-top-button{
    float:right;
}
#main-name{
    height: 250px;
    margin: 40px 10%;
}

#about-me{
    border: 5px solid black;
    margin: auto;
    width: 90vw;
}
#vert-pic{
    margin:auto auto;
    border: 2px red solid;
}
.uk-container{
    border: 2px black solid;
}
#bio-text{
    border: 2px green solid;
    height: 100%;
    margin: auto auto;
}