
#cover-page{
    height:100vh;
}
#cover-photo{
    object-fit: cover;
}
#biography{
    margin-top:-70px;
}
#bio-container{
    max-width:100vw;
    background-color: yellow;
}

#to-top-button{
    float:right;
    border: 2px gray solid;
    border-radius: 15px;
}
#main-name{
    height: 250px;
    padding: 2% 10%;
}

#about-me{
    /* border: 5px solid black; */
    margin: auto;
    width: 95vw;
}
#vert-pic{
    margin:40px auto;
    /* border: 2px red solid; */
}
.uk-container{
    border: 2px black solid;
}
.text-cont{
    /* border: 2px green solid; */
    height: 100%;
    margin: auto auto;
}
.text{
    display: block;
}
#divider-img{
    margin: 2% 0;
}
#projects{
    padding: 5vw;
}
.proj-el{
    margin-bottom: 50px;
    /* border: red solid 2px; */
}
footer{
    max-width: 100vw;
}
.footer-contact{
    margin-left: 40px;
    margin-right: 40px;
}