*{
    font-family: 'Architects Daughter', cursive;
}
#cover-page{
    height:100vh;
}
#cover-photo{
    object-fit: cover;
}
#biography{
    margin-top:-60px;
    padding-top: 60px;
    margin-bottom: -70px;
}
#bio-container{
    max-width:100vw;
    background-color: #FDEFEF;
}

#to-top-button{
    float:right;
    border: 2px gray solid;
    border-radius: 15px;
}
#main-name{
    height: 250px;
    padding: 2% 10%;
}

#about-me{
    margin: auto;
    width: 95vw;
}
#vert-pic{
    margin:40px auto;
}
.uk-container{
    border: 2px black solid;
    
}
.text-cont{
    height: 100%;
    margin: auto auto;
}
.text{
    display: block;
}
#divider-img{
    padding: 2% 0;
    max-height: 30vh;
}
#projects{
    padding: 5vw;
    background-color: #F4DFD0;
}
.proj-el{
    margin-bottom: 50px;
}
.proj-img{
    max-width: 530px;
    min-width: 530px;
    max-height: 350px;
    min-height: 350px;
}
#footer{
    max-width: 100vw;
    background-color: #DAD0C2;
}
.footer-contact{
    margin-left: 40px;
    margin-right: 40px;
    
}